.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem 1rem 4rem;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    margin-bottom: 3rem;
}

body {
  font-family: system-ui, sans-serif;
}

.msg{
  width: 500px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: medium;    
}

.form{width: 500px; margin: 0 auto; background-color: #fff; border-radius: 5px; padding: 1rem;}
.formhs{width: 500px; margin: 0 auto; background-color: #fff; border-radius: 5px; padding: 1rem; font-size: medium;}
.cls_caption{width: 200px; float:left; font-size: 19px; text-align:left; margin-top: 2rem;}
.cls_input{width: 250px; float: right; font-size: 18px; margin-top: 1.5rem; }
.cls_input input{font-size: 18px; width: 250px; height: 45px; float: right; border: solid 1px #ebebeb;}
.cls_input select{font-size: 18px; width: 250px; height: 45px; float: right; border: solid 1px #ebebeb;}
.img_row{text-align: center; margin-top: 2rem;}
.img_row input{font-size: 18px; padding:0 auto; color:#fff; background-color: #00aaad; border-radius: 2px;  height: 50px;}
.img_row input:hover{color:#00aaad; font-weight: bold; background-color: #fff; border: solid 2px #00aaad;}
.frm_row{margin-top: 5px;}
#menu{margin-bottom: 100px; text-align: right;}


form div {
  margin-top: 1rem;
}


form {
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
}

input, select,
textarea {
  padding: 0.4rem;
  width: 100%;
}

button {
  margin: 0.5rem !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00aaad;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #00aaad;
}

input:required {
  border: 1px solid black;
}
  
input:optional {
  border: 1px solid silver;
}
  
input[type="radio"] + label::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: red;
  font-size: 1.2em;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}
  
input[type="radio"]:checked + label::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

input + span {
  position: relative;
}
  
input:required + span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: black;
  padding: 5px 10px;
  top: -26px;
  left: -70px;
}

input + span {
  position: relative;
}
  
input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}
  
input:invalid {
  border: 2px solid red;
}
  
input:out-of-range + span::after {
  color: white;
  background-color: red;
  width: 155px;
  content: "Outside allowable value range";
  left: -182px;
}

td {
  vertical-align: middle !important;
}

th {
  vertical-align: middle !important;
}
  
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.nav-link{
  color:white;
}

.nav-link:hover{
  color: #00aaad;
  background-color: aliceblue;
}

.btn-x{
  border: solid 2px #00aaad !important;
  color: #00aaad !important;
  font-size: 18px !important;
  font-weight: bolder !important;
}

.btn-x:hover{
  color: #fff !important;
  font-weight: bold;
  background-color: #00aaad;
}

.btn-x a:hover{
  color: #fff !important;
}
